.grid(@name, @pad, @i: 1) when (@i =< @column-count) {
  .@{name}@{i} {
    width: @i * (100% / @column-count);
    padding: 0 @pad;
  }

  .grid(@name, @pad, @i + 1);
}

.row:after{
    content: '';
    display: block;
    clear: both;
}

.col{
    float: left;
    position: relative;
    box-sizing: border-box;
}

.grid(sx, 5px);
@media screen and (min-width: @width-sm){
    .grid(sm, 5px);
}
@media screen and (min-width: @width-mid){
    .grid(md, 10px);
}
@media screen and (min-width: @width-max){
    .grid(lg,15px);
}

.hide{
    display: none;
    &-sx{
        @media screen and (max-width: @width-sm){
            display: none;
        }
    }
    &-sm{
        @media screen and (min-width: @width-sm) and (max-width: @width-mid){
            display: none;
        }
    }
    &-md{
        @media screen and (min-width: @width-mid) and (max-width: @width-max){
            display: none;
        }
    }
    &-lg{
        @media screen and (min-width: @width-max){
            display: none;
        }
    }
}