<section class="item">
    <h1 class="item-title">Title</h1>
    <div class="row">
            <div class="item-cover">
                <img src="img/techPic.png">
            </div>
            <div class="item-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias itaque, dolorem possimus error suscipit quae iusto ullam reprehenderit nobis perferendis, sunt ex, rem maxime aut praesentium facilis velit repellat nostrum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias itaque, dolorem possimus error suscipit quae iusto ullam reprehenderit nobis perferendis, sunt ex, rem maxime aut praesentium facilis velit repellat nostrum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias itaque, dolorem possimus error suscipit quae iusto ullam reprehenderit nobis perferendis, sunt ex, rem maxime aut praesentium facilis velit repellat nostrum!</p>
            </div>
    </div>
</section>