<div class="container">
   <div class="col lg5 md10 sx12">
    <button class="btn btn-default btn-lg">
            <span class="icon glyphicon glyphicon-earphone"></span>
            +7 (000) 000-00-00
        </button>
       
     
     <button class="btn btn-default btn-lg">
            <span class="icon glyphicon glyphicon-earphone"></span>
            MAIL@NEWADRES.COM
        </button>
    </div>
    
    <div class="col lg7 md10 sx12">
    <p>Если у вас имеются вопросы, напишите нам!
</p>
    <form class="callBack-form">
        
        <input type="tel" class="callBack-form-input" placeholder="Name">
        <input type="tel" class="callBack-form-input" placeholder="E-mail">
        <input type="tel" class="callBack-form-input" placeholder="Message">
        
        <button class="btn btn-default">
            <span class="icon"></span>
            Отправить сообщение
        </button>
    </form>
    </div>
    
</div>