<div class="realty">
    <div class="row">
        <div class="col sx12 sm4 lg12 md12">
            <div class="realty-cover">
                <img src="img/itemPic.png">
            </div>
        </div>
        <div class="col sx12 sm8 lg12 md12">
            <div class="realty-info-wrap">
                <div class="realty-info">
                    <p class="text-big">Населенный пункт</p>
                    <p>Площадь дома: 125m2</p>
                    <p class="text-big">70000000</p>
                </div>
                <div class="realty-descr">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate deserunt perspiciatis expedita, soluta obcaecati maxime ipsam natus, deleniti dicta recusandae repellat sit ad laudantium, accusantium magni ipsum? Nam, architecto, repudiandae.
                </div>
            </div>
        </div>
    </div>
    <!--#insert file="../buttons/-button1.html"-->
</div>